{% load static %}
<html>
<head>
    <title>Django Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <div>
        <header>
            <div class="nav-left">
                <h1><a href="{% url 'home' %}">Django Blog</a></h1>
            </div>
            <div class="nav-right">
                {% if user.is_authenticated %}
                    <p>Hi {{ user.username }}!</p>
                    {% if user.profile %}
                        <a href="{% url 'profile_edit' %}">Edit Info</a> |
                    {% else %}
                        <a href="{% url 'profile_new' %}">Create Info</a> |
                    {% endif %}
                    <form action="{% url 'logout' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Log Out</button>
                    </form>
                {% else %}
                    <p>Are you a TA? If so,</p>
                    <a href="{% url 'login' %}">Log In</a> |
                    <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </div>
        </header>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>